@font-face{
    font-family: 'bmitra';
    src: url('./fonts/BMitra.eot');
    src: url('./fonts/BMitra.eot?#iefix') format('embedded-opentype'),
         url('./fonts/BMitra.woff') format('woff'),
         url('./fonts/BMitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::selection{
	background:#F9A386;
	text-shadow:none;
	color: #fff;
}

body{
	background: url('./images/body-bg.png') center;
}

div,table,input{
	direction: rtl;
}

.ltr{
	direction: ltr;
}

a:active,
a:visited,
a:link{ 
    border: none;
    outline: none;
}

a,
h5 a,
a p{
	text-align: right;
	text-decoration: none;
	-webkit-transition: color 1s;
	-ms-transition: color 1s;
	-moz-transition: color 1s;
	-o-transition: color 1s;
	transition: color 1s;
}

a:hover,
h5 a:hover,
a:hover p{
	-webkit-transition: color 500ms;
	-ms-transition: color 500ms;
	-moz-transition: color 500ms;
	-o-transition: color 500ms;
	transition: color 500ms;
}

h5,p{
	text-align: right;
	font-family: 'bmitra';
}

div.contain{
	width: 950px;
	margin: 50px auto 0;
	padding: 0 40px 0;
	background-color: #fff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.ok{
	outline : 1px solid #fff;
}

.err{
	outline : 1px solid #f99;
}

.line{
	background: url('./images/stripe.png') repeat-x;
	height: 12px;
	margin-top: 5px;
	overflow: hidden;
	margin-bottom: 20px;
}	
/***************************************Header part**************************************/
/************Top Header***************/
div.container header{
	margin: 20px auto 25px;
	background: #fbfbfb;
	min-height: 200px;
	-webkit-box-shadow: inset 0 0 2px white, 0 0 5px #CACACA;
	-moz-box-shadow: inset 0 0 2px white, 0 0 5px #CACACA;
	-ms-box-shadow: inset 0 0 2px white, 0 0 5px #CACACA;
	-o-box-shadow: inset 0 0 2px white, 0 0 5px #CACACA;
	box-shadow: inset 0 0 2px white, 0 0 5px #CACACA;
}

div.container header .top{
	border-top: 3px solid #f88c00;
	border-bottom: 1px solid #ececec;
	height: 30px;
}

div.container header .top .time{
	padding: 3px 10px;
	background: #ddd;
	color: #333;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	margin: 4px 5px 4px 10px;
	font-family: 'bmitra';
}

div.container header .top .menu menu li{
	float: right;
}

div.container header .top .menu menu li a{
    color: #555;
	display: block;
	padding: 3px 10px;
	margin: 4px 0;
	font-family: 'bmitra';
}

div.container header .top .menu menu li a:hover{
	color: #000;
}

div.container header .top .search form span{
	content: " ";
	display: block;
	width: 0;
	height: 0;
	margin-top: 10px;
	z-index: 2;
	border: 4px solid transparent;
	border-left-color: #F88C00;
}

div.container header .top .search form .submit{
	background: #f88c00 url("./images/separate.png") no-repeat center -215px;
	cursor: pointer;
	height: 30px;
	width: 30px;
	border: 0 none;
}

div.container header .top .search form .search{
	background: #fff;
	padding: 2px 12px 2px 12px;
	width: 90px;
	color: #C5C5C5;
	border: 0 none;
	border-right: 1px solid #ececec;
	outline: 0;
	font-family: 'bmitra';
}
/************Mid Header*****************/
div.container header .mid{
	padding: 20px 15px;
	height: 90px;
}

div.container header .mid .logo{
	margin-top: 8px;
}

div.container header .mid h2 a strong{
	display: none;
}
/************Main Menu Header***************/
div.container header .main-menu menu{
	background: url('./images/main-menu-bg.png') repeat-x bottom;
	height: 52px;
	border-bottom: 5px solid #F88C00;
}

div.container header .main-menu menu li{
	float: right;
	margin-top: 5px;
	border-right: 1px solid #222222;
}

div.container header .main-menu menu li:first-child{
	border-right: 0 none;
	margin-right: 10px;
}

div.container header .main-menu menu li a{
	color: #fff;
	display: block;
	padding: 14px 10px;
	font-family: 'bmitra';
	font-size: 19px;
	border-right: 1px solid #383838;
}

div.container header .main-menu menu li:first-child a{
	border-right: 0 none;
	background: url('./images/separate.png') no-repeat 0 -350px;
	width: 35px;
	height: 14px;
}

div.container header .main-menu menu li.active a{
	background-color: #F88C00;
	color: #fff;
	height: 20px;
	border-right: 0 none;
}

div.container header .main-menu menu li.active{
	border-right: 0 none; 
}

div.container header .main-menu menu li.active:first-child a{
	background-image: url('./images/separate.png');
	background-repeat: no-repeat;
	background-position: 0 -295px;
}
/***************************************Breaking news part**************************************/
section.br-news{
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 3px 0 #B5B5B5;
	-moz-box-shadow: 0 1px 3px 0 #B5B5B5;
	-ms-box-shadow: 0 1px 3px 0 #B5B5B5;
	-o-box-shadow: 0 1px 3px 0 #B5B5B5;
	box-shadow: 0 1px 3px 0 #B5B5B5;
}

section.br-news span{
	background: #FF0000;
	padding: 6px 10px;
	color: #fff;
	font-family: "bmitra";
	font-size: 18px;
	width: 70px;
}

section.br-news .news{
	background: #fff;
	padding: 6px 10px;
	font-family: "bmitra";
	font-size: 18px;
	width: 840px;
	text-align: right;
}

section.br-news .news ul a{
	color: #444;
}

section.br-news .news ul a:hover{
	color: #000;
}
/***************************************Content part**************************************/
section.main-content{
	background: #FFF;
	min-height: 600px;
	margin-top: 25px;
	padding: 20px 15px;
	-webkit-box-shadow: 0 0 5px #CACACA;
	-moz-box-shadow: 0 0 5px #CACACA;
	-ms-box-shadow: 0 0 5px #CACACA;
	-o-box-shadow: 0 0 5px #CACACA;
	box-shadow: 0 0 5px #CACACA;
}

section.main-content .content{
	width: 660px;
}

section.main-content .content .slideshow{
	height: 330px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

section.main-content .content .recent-works{
	margin-bottom: 30px;
	padding: 3px 0;
}

section.main-content .content .recent-works h2{
	color: #5E5E5E;
	font-family: 'bmitra';
	font-size: 22px;
	float: right;
	margin-left: 10px;
}

section.main-content .content .recent-works .works{
	border: 1px solid #DDD;
	border-bottom: 4px solid #F88C00;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 3px 0 #b5b5b5;
	-moz-box-shadow: 0 1px 3px 0 #b5b5b5;
	-ms-box-shadow: 0 1px 3px 0 #b5b5b5;
	-o-box-shadow: 0 1px 3px 0 #b5b5b5;
	box-shadow: 0 1px 3px 0 #b5b5b5;
}

section.main-content .content .recent-works .works ul li{
	float: right;
	height: 190px;
	margin: 20px 16px 10px 0;
	padding: 2px;
	text-align: right;
	font-family: 'bmitra';
}

section.main-content .content .recent-works .works ul li img{
	width: 185px;
	height: 85px;
	background: #fff;
	padding: 4px;
	-webkit-box-shadow: 0 0 2px #B5B5B5;
	-moz-box-shadow: 0 0 2px #B5B5B5;
	-ms-box-shadow: 0 0 2px #B5B5B5;
	-o-box-shadow: 0 0 2px #B5B5B5;
	box-shadow: 0 0 2px #B5B5B5;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}

section.main-content .content .recent-works .works ul li h3{
	color: #444;
	margin-top: 5px;
}

section.main-content .content .recent-works .works ul li p{
	margin-top: 10px;
	color: #999;
}


section.main-content .sidebar{
	padding: 20px;
	width: 250px;
	margin-right: 50px;
}
