@font-face {
    font-family: 'bmitra';
    src: url('fonts/BMitra.eot');
    src: url('fonts/BMitra.eot?#iefix') format('embedded-opentype'),
         url('fonts/BMitra.woff') format('woff'),
         url('fonts/BMitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
	direction: rtl;
    background: url('images/back_pattern.png');
	background-position: center;
}

a:active,
a:visited,
a:link { 
    border: none;
    outline: none;
}
	
header {
  height: 50px;
  direction : rtl;
  text-align :right;
  vertical-align: middle;  
  /*position: absolute;*/
  left: 100px;
  right: 10px; }
  header .logo {
    max-width: 380px;
    max-height: 30px;
    margin: 30px 0 0 140px;
    font-size: 18px;
    color: #d13736;
    font-weight: 500;
    float: left; }
    header .logo:hover {
      opacity: 0.7; }
  header .icons {
    margin-left: 40px; }
  header #mini-nav {    
    border: 1px solid #e6e6e6;
    background: #fafafa;
    float: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 20px 110px 0 0;
    height: 32px;
    line-height: 32px; }
    header #mini-nav li {
      float: right;
      border-left: 1px solid #e6e6e6; }
      header #mini-nav li:last-child {
        border-right: 0; }
      header #mini-nav li:first-child {
        border-left: 0; border-left: 1px solid #e6e6e6; }
    header #mini-nav a {
      display: block;
      padding: 0 15px;
      color: black;
      text-decoration: none;
      cursor: pointer; }
      header #mini-nav a:hover {
        background: #e6e6e6; }
    header #mini-nav span {
      display: inline-block;
      vertical-align: text-top;
      margin-left: 5px;
      padding: 0 5px;
      line-height: 15px;
      font-size: 11px;
      color: white;
      background: #d13736;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
	  
/* White icons with optional class, or on hover/active states of certain elements */
/*
.icon-white {
  background-image: url("images/glyphicons-halflings-white.png"); }

.nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"] {
  background-image: url("images/glyphicons-halflings-white.png"); }

.nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"] {
  background-image: url("images/glyphicons-halflings-white.png"); }

.navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"] {
  background-image: url("images/glyphicons-halflings-white.png"); }

.dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"] {
  background-image: url("images/glyphicons-halflings-white.png"); }
.dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("images/glyphicons-halflings-white.png"); }

.dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("images/glyphicons-halflings-white.png"); }
  */
 .icomoon-small [data-icon]:before {
  font-size: 12px; }

.icomoon-medium [data-icon]:before {
  font-size: 24px; }

.icomoon-large [data-icon]:before {
  font-size: 36px; }

#mainnav {
  display: block;
  float: right;
  position: relative;
  top: 10px; }
  #mainnav > ul {
    width: 80px;
    position: absolute; }
    #mainnav > ul > li {
      display: block;
      position: relative;
      margin-bottom: 10px; }
      #mainnav > ul > li [data-icon]:before {	              
	              font-family: 'icons'; /* BYO icon font, mapped smartly */
				 /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/				                    
                  content: attr(data-icon);
                  speak: none; /* Not to be trusted, but hey. */
				  font-weight: normal;
                  -webkit-font-smoothing: antialiased;
				  font-size: 48px;
                   }
      #mainnav > ul > li:hover .fs1 {
        color: #737373; }
      #mainnav > ul > li:hover a {
        color: #737373; }
      #mainnav > ul > li.active {
        background: transparent; }
        #mainnav > ul > li.active a {
          color: #d13736; }
        #mainnav > ul > li.active .fs1 {
          color: #d13736; }
      #mainnav > ul > li > a {
        display: block;
        outline: 0;
        height: 52px;
        padding: 8px 5px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        text-align: center; }
      #mainnav > ul > li .current-arrow {
        background-image: url("images/menu-arrow.png");
        position: absolute;
        right: 90px;
        top: 25px;
        z-index: 10;
        width: 11px;
        height: 20px; }

	  
.admin_top
{
 float : right;
 width : 92%;
 min-height : 100px;
 border-width: 2px;
 border-style : solid;
 border-color : #A00000;
 margin-right :10px;
 margin-bottom : 5px; 
}
/*  this section related to right nav div */
.admin_right_panel   
{
 float : right;
 width :100px;
 min-height :500px;
 text-align : right;
 margin-right :10px;
 margin-top : 10px;
 }

 .admin_container
{
 float : right;
 position: relative;
 width :80%;
 top: 15px;
 margin: 0px 0px 70px 90px;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 1060px;
  padding: 10px; 
 }
 
 ul {
margin: 0;
padding: 0;
list-style: none;
}
 .hi1dden-phone
 {
	display: none;
 }
