@font-face {
    font-family: 'bmitra';
    src: url('fonts/BMitra.eot');
    src: url('fonts/BMitra.eot?#iefix') format('embedded-opentype'),
         url('fonts/BMitra.woff') format('woff'),
         url('fonts/BMitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  background: url('images/admin/back_pattern.png');
	background-position: center;
	font-family: 'bmitra';
}

div,table,form,label,input,a,p{
  direction: rtl;
}

.ltr{
  direction: ltr;
}

a:active,
a:visited,
a:link{ 
    border: none;
    outline: none;
}

a,
a p{
  color: #444;
  text-align: right;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

a:hover,
a:hover p,
input:hover{
  color: #000;
}

p,label,h1,h2,h3,h4{
  text-align: right;
  font-family: 'bmitra';
}
/***************************Header part*******************************/	
header {
  height: 50px;
  direction : rtl;
  text-align :right;
  vertical-align: middle;
  left: 100px;
  right: 10px;
  font-family: 'bmitra';
  font-size: 17px;
  font-weight:bold; 
}

header .logo {
  max-width: 380px;
  max-height: 30px;
  margin: 30px 0 0 140px;
  font-size: 18px;
  color: #d13736;
  font-weight: 500;
  float: left; 
}

header .logo:hover {
  opacity: 0.7; 
}

header .icons {
  margin-left: 40px; 
}

header #mini-nav {    
  border: 1px solid #e6e6e6;
  background: #fafafa;
  float: right;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 20px 110px 0 0;
  height: 32px;
  line-height: 32px; 
}

header #mini-nav li {
  float: right;
  border-left: 1px solid #e6e6e6; 
}

header #mini-nav li:last-child {
  border-right: 0; 
}

header #mini-nav li:first-child {
  border-left: 0; border-left: 1px solid #e6e6e6; 
}

header #mini-nav a {
  display: block;
  padding: 0 15px;
  color: black;
  text-decoration: none;
  cursor: pointer; 
}

header #mini-nav a:hover {
  background: #e6e6e6; 
}

header #mini-nav span {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 5px;
  padding: 1px 5px;
  line-height: 15px;
  font-size: 16px;
  color: white;
  background: #d13736;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; 
}

#mainnav {
  display: block;
  float: right;
  position: relative;
  top: 10px; 
  font-family: 'bmitra';
  font-size: 15px;
  font-weight:bold;
}

#mainnav > ul {
  width: 100px;
  position: absolute; 
}

#mainnav > ul > li {
  display: block;
  position: relative;
  margin-bottom: 10px; 		  
  -webkit-border-radius: 15px; /* round the corner of box */
  -moz-border-radius: 15px;    /* round the corner of box */
  border-radius: 15px;         /* round the corner of box */  	  
  border: 2px solid #eee; 
  -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
  -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
  -webkit-transition: all 0.5s ease-out; 
  -moz-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
}

#mainnav > ul > li [data-icon]:before {	              
  font-family: 'icons'; 		                    
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 48px;
}

#mainnav > ul > li:hover .fs1 {
  color: #737373; 		 
}

#mainnav > ul > li:hover a {	    
  color: #737373; 
  transform: rotate(10deg);
  -ms-transform : rotate(10deg);
  -webkit-transform: rotate(10deg); 
  -moz-transform: rotate(10deg); 
  -o-transform: rotate(10deg);
}

#mainnav > ul > li.active {
  background: transparent;
}

#mainnav > ul > li.active a {		  
  color: #d13736; 
}

#mainnav > ul > li.active .fs1 {
  color: #d13736; 
}

#mainnav > ul > li > a {
  display: block;
  outline: 0;
  height: 75px;
  padding: 8px 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  text-align: center; }
  #mainnav > ul > li .current-arrow {
  background-image: url("images/admin/menu-arrow.png");
  position: absolute;
  right: 99px;
  top: 25px;
  z-index: 10;
  width: 11px;
  height: 20px; 
}

.admin_top{
 float : right;
 width : 92%;
 min-height : 100px;
 border-width: 2px;
 border-style : solid;
 border-color : #A00000;
 margin-right :10px;
 margin-bottom : 5px; 
}
/*  this section related to right nav div */
.admin_right_panel   
{
 float : right;
 width :100px;
 min-height :500px;
 text-align : right;
 margin-right :10px;
 margin-top : 10px;
 margin-left :10px;
 }

 /* This Section related To Container Div Part*/	
 .admin_container{
    float : right;
    position: relative;
    width :80%;
    top: 15px;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-height: 550px;
    padding: 10px; 
 }
 
ul{
margin: 0;
padding: 0;
list-style: none;
}

.hi1dden-phone{
	display: none;
}
/*****************************************Works Manger page******************************************/
.admin_container .title{
  margin-bottom: 15px;
}

.admin_container .title ul{
  border: 1px solid #ededed;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}

.admin_container .title ul li{
  float: right;
  font-size: 19px;
}

.admin_container .title ul li a{
  display: block;
  background: #d33f3e;
  padding: 6px 42px 7px 0;
  color: #fff;
  position: relative;
  float: right;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.admin_container .title ul li a:after{
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 30px solid #d33f3e;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  right: 100%;
  z-index: 2;
}

.admin_container .title ul li:first-child a{
  padding-right: 10px;
}

.admin_container .title ul li:last-child a{
  background: transparent !important;
  cursor: default;
  pointer-events: none;
  color: #000;
}

.admin_container .title ul li:last-child a:after{
  border-top: 0 none;
  border-bottom: 0 none;
  border-right: 0 none;
}

.admin_container form label,
.admin_container form input, 
.admin_container form textarea{ 
  float: right;
  font-size: 18px;
}

.admin_container form input, 
.admin_container form textarea{ 
  margin: 5px 0 10px;
  outline: 0 none;
}

.admin_container form input.subject, 
.admin_container form textarea{
  width: 450px;
}