body{
  background: url('images/admin/back_pattern.png');
	background-position: center;
	font-family: 'bmitra';
}

div,table,form,label,input,a,p{
  direction: rtl;
}

.ltr{
  direction: ltr;
}

a:active,
a:visited,
a:link{ 
    border: none;
    outline: none;
}

a,
a p{
  color: #444;
  text-align: right;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

a:hover,
a:hover p,
input:hover{
  color: #000;
}

a.button{
  font-size: 17px;
  padding: 5px 10px;
  background-color: #d4d4d4;
  background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#d4d4d4),color-stop(100%,#c7c7c7));
  background: -webkit-linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);
  background: -moz-linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);
  background: -o-linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);
  background: -ms-linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);
  background: linear-gradient(top,#d4d4d4 0,#c7c7c7 100%);
  border: 1px solid #a3a3a3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #555;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5),inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: background 0.40s;
  -moz-transition: background 0.40s;
  -ms-transition: background 0.40s;
  -o-transition: background 0.40s;
  transition: background 0.40s;
}

a.button:hover{
  background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#d8d6d6),color-stop(100%,#cdcdcd));
  background: -webkit-linear-gradient(top,#a8a8a8 0,#cdcdcd 100%);
  background: -moz-linear-gradient(top,#a8a8a8 0,#cdcdcd 100%);
  background: -o-linear-gradient(top,#a8a8a8 0,#cdcdcd 100%);
  background: -ms-linear-gradient(top,#a8a8a8 0,#cdcdcd 100%);
  background: linear-gradient(top,#a8a8a8,#cdcdcd 100%);
}

#cbsearch{
  width: 160px;
  margin-top: 5px;
  outline: 0 none;
  border: 1px solid #F1F1F1;
  border-top-color: #ddd;
  border-left-color: #ddd;
  background: #F9F9F9;
  color: #000;
  padding: 4px 7px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
}

.cal-btn{
  display: none;
}

p,label,h1,h2,h3,h4{
  text-align: right;
  font-family: 'bmitra';
}
/***************************Header part*******************************/	
header {
  height: 50px;
  direction : rtl;
  text-align :right;
  vertical-align: middle;
  left: 100px;
  right: 10px;
  font-family: 'bmitra';
  font-size: 17px;
  font-weight:bold; 
}

header .logo {
  max-width: 380px;
  max-height: 30px;
  margin: 30px 0 0 140px;
  font-size: 18px;
  color: #d13736;
  font-weight: 500;
  float: left; 
}

header .logo:hover {
  opacity: 0.7; 
}

header .icons {
  margin-left: 40px; 
}

header #mini-nav {    
  border: 1px solid #e6e6e6;
  background: #fafafa;
  float: right;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 20px 110px 0 0;
  height: 32px;
  line-height: 32px; 
}

header #mini-nav li {
  float: right;
  border-left: 1px solid #e6e6e6; 
}

header #mini-nav li:last-child {
  border-right: 0; 
}

header #mini-nav li:first-child {
  border-left: 0; border-left: 1px solid #e6e6e6; 
}

header #mini-nav a {
  display: block;
  padding: 0 15px;
  color: black;
  text-decoration: none;
  cursor: pointer; 
}

header #mini-nav a:hover {
  background: #e6e6e6; 
}

header #mini-nav span {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 5px;
  padding: 1px 5px;
  line-height: 15px;
  font-size: 16px;
  color: white;
  background: #d13736;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; 
}

#mainnav {
  display: block;
  float: right;
  position: relative;
  top: 10px; 
  font-family: 'bmitra';
  font-size: 15px;
  font-weight:bold;
}

#mainnav > ul > li{
  position: relative;
  margin-bottom: 10px; 		  
  -webkit-border-radius: 15px; /* round the corner of box */
  -moz-border-radius: 15px;    /* round the corner of box */
  -ms-border-radius: 15px;    /* round the corner of box */
  -o-border-radius: 15px;    /* round the corner of box */
  border-radius: 15px;         /* round the corner of box */  	  
  border: 2px solid #eee; 
  -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
  -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
  -ms-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
  -o-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
  -webkit-transition: all 0.5s ease-out; 
  -moz-transition: all 0.5s ease; 
  -ms-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
  transition: all 0.5s ease; 
}

#mainnav > ul > li span{	              
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 18px;
  margin-top: 6px;
}

#mainnav > ul > li span.dashboard{
  background-image: url('images/admin/dashboard.png');
}

#mainnav > ul > li span.news{
  background-image: url('images/admin/news.png');
}

#mainnav > ul > li span.works{
  background-image: url('images/admin/works.png');
}

#mainnav > ul > li span.users{
  background-image: url('images/admin/users.png');
}

#mainnav > ul > li:hover a {	    
  opacity: 1;
}

#mainnav > ul > li.active a {
  background: transparent;
  color: #d13736;
  opacity: 1;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}

#mainnav > ul > li > a {
  display: block;
  opacity: 0.5;
  outline: 0;
  height: 75px;
  padding: 8px 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
}
  
#mainnav > ul > li .current-arrow {
  background-image: url("images/admin/menu-arrow.png");
  position: absolute;
  right: 82px;
  top: 25px;
  z-index: 10;
  width: 11px;
  height: 20px; 
}
/*************************************SUB menu******************************************/
.sub-menu ul li{
  margin-top: 35px;
  width: 200px;
  height: 200px;
  margin-right: 250px;
}

.sub-menu ul li:first-child{
  margin-top: 0;
}

.sub-menu ul li a{
  font-size: 26px !important;
}

.sub-menu ul li span{
  width: 128px !important;
  height: 128px !important;
  margin-right: 30px !important;
  margin-top: 15px !important;
}

.sub-menu ul li span.add-news{
  background-image: url('images/admin/addnews.png');
}

.sub-menu ul li span.edit-news{
  background-image: url('images/admin/editnews.png');
}
/***************************************************************************************/
.admin_top{
 float : right;
 width : 92%;
 min-height : 100px;
 border-width: 2px;
 border-style : solid;
 border-color : #A00000;
 margin-right :10px;
 margin-bottom : 5px; 
}
/*  this section related to right nav div */
.admin_right_panel   
{
 float : right;
 width :100px;
 min-height :500px;
 text-align : right;
 margin-right :10px;
 margin-top : 10px;
 margin-left :10px;
 }

 /* This Section related To Container Div Part*/	
.admin_container{
  min-height: 800px;
  float : right;
  width : 780px;
  top: 15px;
  background: #fff;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px; 
  margin: 20px 0;
}

.hi1dden-phone{
	display: none;
}

footer{
  background: #bfbfbf;
  padding: 5px 0;
  position: absolute;
  width: 100%;
}

footer p{
  text-align: center;
  font-size: 18px;
}
/*****************************************Manger page******************************************/
.admin_container .title{
  margin-bottom: 15px;
}

.admin_container .title ul{
  border: 1px solid #ededed;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}

.admin_container .title ul li{
  float: right;
  font-size: 19px;
}

.admin_container .title ul li a{
  display: block;
  background: #d33f3e;
  padding: 6px 42px 7px 0;
  color: #fff;
  position: relative;
  float: right;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.admin_container .title ul li span{
  padding: 6px 42px 7px 0;
  display: block;
}

.admin_container .title ul li a:after{
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 30px solid #d33f3e;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  right: 100%;
  z-index: 2;
}

.admin_container .title ul li:first-child a{
  padding-right: 10px;
}

.admin_container .title ul li:last-child a{
  background: transparent !important;
  cursor: default;
  pointer-events: none;
  color: #000;
}

.admin_container .title ul li:last-child a:after{
  border-top: 0 none;
  border-bottom: 0 none;
  border-right: 0 none;
}

.admin_container form p.note{
  color: #000;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.admin_container form input, 
.admin_container form textarea{
  outline: 0 none;
  border: 1px solid #F1F1F1;
  border-top-color: #ddd;
  border-left-color: #ddd;
  background: #F9F9F9;
  color: #000;
  padding: 4px 7px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
}

.admin_container form input.name,
.admin_container form input.family,
.admin_container form input.email,
.admin_container form input.username,
.admin_container form input.password,
.admin_container form input.cpassword{
  width: 350px;
}

.admin_container form input.pic{
  outline: 0 none;
  background: #F9F9F9;
  width: 300px;
  color: #555;
  padding: 4px 7px;
  border: 1px solid #F1F1F1;
  border-top-color: #ddd;
  border-left-color: #ddd;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  font-family: 'arial';
}

.admin_container form input.subject, 
.admin_container form textarea{
  width: 733px;
}

.admin_container form textarea{
  height: 450px;
}

.admin_container form p{
  color: #888;
  margin: 15px 0 10px;
}

.admin_container form p span{
  color: #000;
}

.admin_container form input.fdate,
.admin_container form input.sdate,
.admin_container form input.ndate{
  width: 220px;
  display: inline-block;
}

.admin_container form img{
  margin-top: 5px;
  vertical-align: top;
  outline: 0 none;
}

.admin_container .mes{
  margin-left: 80px;
  text-align: right;
  width: 100%;
}

.admin_container form input.submit,
.admin_container form input.mark,
.admin_container form input.reset{
  display: inline;
  margin-left: 5px;
  padding: 5px 18px;
  color: #000;
  -webkit-transition: background 300ms;
  -moz-transition: background 300ms;
  -ms-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms;
}

.admin_container form input.submit:hover,
.admin_container form input.reset:hover{
  background: #ddd;
  -webkit-transition: background 500ms;
  -moz-transition: background 500ms;
  -ms-transition: background 500ms;
  -o-transition: background 500ms;
  transition: background 500ms;
}

/*=============== data grid section  ===============*/
.datagrid
{
  margin-top: 10px;
  background-color: #ECECED;
  border: 1px solid #ededed;
  border-spacing:0px;
  text-align: center;
}

.datagridheader
{
  background-color: #668BDC;
  text-align: center;
  color: white; 
  font-size: 20px;       
}

.datagridheader th{
  padding: 8px 5px;
}

.datagridevenrow{
	background-color: #EEF5FF;
}

.datagridoddrow
{
  background-color:#FEF4E4;
}

.datagridevenrow td,
.datagridoddrow td{
  text-align: center;
  padding: 20px 5px;
}

.datagridevenrow p,
.datagridoddrow p{
  text-align: center;
}

.datagridevenrow img,
.datagridoddrow img{
  margin: 0 !important;
}

.datagridcol
{
   background-color: #E3ECF9;
}

tr.datagridevenrow:hover,
tr.datagridoddrow:hover
{
  background-color: #254590;
  color: white;
}

.page-num{
  padding: 5px;
}

.page-num a{
  color: #777;
}

.page-num a:hover{
  color: #000;
}
/********************************Search input****************************/
input.search-form{
  width: 330px;
  display: inline-block !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  width: 250px;
  color: #999 !important;
}

input.search-form:hover{
  color: #000 !important;
}